@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
  background-repeat: no-repeat;
  color: #fff;
  font-family: "Mochiy Pop P One", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow-x: hidden;
}
.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 50px;
}
.counter {
  font-size: 60px;
  margin-top: 10px;
}
.counter-container span {
  letter-spacing: 2px;
  color: #000;
  margin-top: 5px;
  display: flex;
}
@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
a {
  color: #fff;
  transition: 0.6s ease-in-out;
}
a:active,
a:visited {
  outline: none;
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: steelblue;
}
